.arrow {
    composes: interactive-border-background from 'src/css/common.module.css';
}

button.arrow {
    align-items: center;
    justify-content: center;
    width: var(--size-icon-2xl);
    aspect-ratio: 1;
}

.arrow svg {
    fill: var(--color-icon-secondary);
    transition: fill .3s;
}

.arrow:hover svg {
    fill: var(--color-icon-accent);
}

.arrow[data-right=true] svg {
    translate: 2px;
}

.arrow[data-left=true] svg {
    translate: -2px;
}
