.books {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 650px;
    gap: var(--space-l);
}

.bookCardEmpty {
    width: 400px;
    height: 200px;
}
