.bookCard {
}

.bookTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--space-l);
}

.bookStatus {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    white-space: nowrap;
}

.bookStatusText {
    font-weight: bold;
    font-family: var(--font-nunito);
    color: var(--color-text-accent);
}

.bookStatusIndicator {
    width: 6px;
    aspect-ratio: 1;
    border-radius: var(--size-border-radius-full);
}

.bookStatusIndicator[data-status="Done"] {
    background: var(--color-feedback-done);
}

.bookStatusIndicator[data-status="In Progress"] {
    background: var(--color-feedback-in-progress);
}

.bookStatusIndicator[data-status="Not Finished"] {
    background: var(--color-feedback-not-finished);
}
