.dots {
    display: flex;
    gap: var(--space-xs);
    padding: var(--space-m);
}

.dot {
    background: var(--color-border-primary);
    width: 6px;
    aspect-ratio: 1;
    border-radius: var(--size-border-radius-full);
    transition: background-color .3s;
}

.dots .dot[data-selected=true] {
    background: var(--color-background-accent);
}
