.dots {
    composes: interactiveBorderBackground from 'src/css/common.module.css';
}

a.dots {
    gap: var(--space-xs);
    padding: var(--space-m);
}

.dot {
    background: var(--color-icon-secondary);
    width: 6px;
    aspect-ratio: 1;
    border-radius: var(--border-radius-full);
    transition: background-color .3s;
    flex-shrink: 0;
}

.dots:hover .dot {
    background: var(--color-background-primary);
}

.dots .dot[data-selected=true] {
    background: var(--color-icon-accent);
}
