.license {
    display: flex;
    align-items: flex-end;
    gap: var(--space-m);
}

.licenceText {
    color: var(--color-text-secondary);
    font-size: var(--font-size-2xs);
}

[data-theme='dark'] .licenceText a {
    color: var(--color-text-accent-variant);
}

.licenseImage {
    position: relative;
    height: 25px;
    width: 70px;
    flex-shrink: 0;
}
