.markdown {
    max-width: var(--size-article-max-width);
}

.markdown h1 {
    text-align: center;
    color: var(--color-text-accent);
    font-size: var(--font-size-2xl);
}

.markdown p, .markdown ul, .markdown blockquote {
    font-size: var(--font-size-s);
    line-height: var(--font-line-height-l);
}

.markdown h2 {
    font-size: var(--font-size-l);
}

.markdown h1, .markdown h2, .markdown h3 {
    line-height: var(--font-line-height-s);
}

.markdown p, .markdown h2, .markdown h3, .markdown ul, .markdown blockquote, .markdown ul li:has(p) {
    margin: var(--space-l) 0;
}

.markdown ul p {
    margin: 0;
}

.markdown ul {
    list-style: none;
    margin-left: var(--space-l);
}

.markdown li {
    position: relative;
    padding-left: var(--space-l);
}

.markdown li::before {
    content: "—";
    top: 0;
    font-weight: 500;
    left: calc(-1 * var(--space-xs));;
    position: absolute;
    color: var(--color-icon-secondary);
}

.markdown blockquote {
    position: relative;
}

.markdown blockquote p {
    padding: var(--space-l) var(--space-xl) var(--space-l) var(--space-2xl);
    color: var(--color-text-secondary-variant);
}

.markdown blockquote::before {
    content: "";
    width: var(--size-border-l);
    position: absolute;
    top: var(--space-xs);
    left: var(--space-xs);
    height: calc(100% - 2 * var(--space-xs));
    background: var(--color-background-accent);
    border-radius: var(--size-border-radius-full);
}
