.separator {
    background: var(--color-background-secondary);
    border-radius: var(--border-radius-full);
    align-self: center;
    flex-shrink: 0;
}

.separator[data-horizontal='true'] {
    width: 100%;
    height: var(--size-border-m);
}

.separator[data-vertical='true'] {
    height: 100%;
    width: var(--size-border-m);
}
