.dropDown {
    display: flex;
    position: fixed;
    gap: var(--space-l);
    z-index: 2;
    transition: z-index 0s ease .3s;
}

.dropDown[data-top='true'] {
    top: var(--space-l);
    flex-direction: column;
}

.dropDown[data-bottom='true'] {
    bottom: var(--space-l);
    flex-direction: column-reverse;
}

.dropDown[data-left='true'] {
    left: var(--space-l);
    align-items: start;
}

.dropDown[data-right='true'] {
    right: var(--space-l);
    align-items: end;
}

.dropDown[data-is-open='true'] {
    z-index: 4;
    transition: z-index 0s ease 0s;
}

.items {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.button {
    composes: interactive-background from 'src/css/common.module.css';
}

button.button {
    align-items: center;
    justify-content: center;
    height: var(--size-icon-2xl);
    aspect-ratio: 1;
    color: var(--color-icon-accent);
}

.dropDown[data-is-open='true'] .button  {
    border: var(--size-border-m) solid var(--color-border-primary);
    background: var(--color-background-secondary);
    box-shadow: var(--shadow);
}

[data-theme='dark'] :is(.dropDown[data-is-open='true'] .button, .button:hover) {
    color: var(--color-icon-accent-variant);
}

.overlay {
    position: fixed;
    inset: 0;
    background: var(--color-background-primary);
    z-index: 3;
}
