.sideMenu {
    display: flex;
    position: fixed;
    gap: var(--space-l);
    z-index: 2;
    padding: inherit;
    transition: z-index 0s ease .3s;
}

.sideMenu[data-scroll='true'] {
}

.sideMenu[data-top='true'] {
    top: 0;
    flex-direction: column;
}

.sideMenu[data-bottom='true'] {
    bottom: 0;
    flex-direction: column-reverse;
}

.sideMenu[data-left='true'] {
    left: 0;
    align-items: start;
}

.sideMenu[data-right='true'] {
    right: 0;
    margin-right: inherit;
    align-items: end;
}

.sideMenu[data-is-open='true'] {
    z-index: 4;
    transition: z-index 0s ease 0s;
}

body.sideMenuOpen {
    overflow: hidden;
}

.items {
    display: flex;
    flex-direction: column;
    max-height: calc(100svh - 4 * var(--space-l) - 2 * var(--size-icon-2xl));
}

.itemsList {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    margin-left: calc(-1 * var(--space-l));
    margin-right: calc(-1 * var(--space-l));
    padding-left: var(--space-l);
    padding-right: var(--space-l);
}

[data-scroll='true'] .itemsList {
    overflow: scroll;
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
}

.itemsList::-webkit-scrollbar {
    height: 0;
}

.button {
    composes: interactiveBackground from 'src/css/common.module.css';
}

button.button {
    align-items: center;
    justify-content: center;
    height: var(--size-icon-2xl);
    aspect-ratio: 1;
    color: var(--color-icon-accent);
}

.sideMenu[data-is-open='true'] .button  {
    border: var(--size-border-m) solid var(--color-border-primary);
    background: var(--color-background-secondary);
    box-shadow: var(--shadow);
}

[data-theme='dark'] :is(.sideMenu[data-is-open='true'] .button, .button:hover) {
    color: var(--color-icon-accent-variant);
}

.overlay {
    position: fixed;
    inset: 0;
    background: color-mix(in srgb, var(--color-background-primary) 60%, transparent);
    backdrop-filter: blur(1px);
    z-index: 3;
}
