.switch {
    --padding: 3px;
    composes: cardBackground from 'src/css/card.module.css';
    display: flex;
    flex-direction: column;
    border-radius: 999px;
    padding: var(--padding);
    position: relative;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.switch button {
    display: flex;
    padding: 8px;
    position: relative;
    z-index: 2;
}

.switch button svg {
    color: var(--color-text-blue);
    transition: color .3s !important;
}

.switch button[data-selected='true'] svg {
    color: var(--color-accent-faint);
}

.selected {
    position: absolute;
    width: calc(100% - 2 * var(--padding));
    aspect-ratio: 1;
    background: var(--color-accent);
    border-radius: 999px;
    z-index: 1;
    top: var(--padding);
    left: var(--padding);
    transition: translate .3s !important;
}

[data-theme='dark'] .selected {
    background: var(--color-accent-dark);
}

.selected[data-theme='dark'] {
    translate: 0 0;
}

.selected[data-theme='system'] {
    translate: 0 100%;
}

.selected[data-theme='light'] {
    translate: 0 200%;
}
