.switch {
    display: flex;
    border-radius: var(--size-border-radius-full);
    position: relative;
    cursor: pointer;
}

.switch button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    width: var(--size-icon-xl);
    aspect-ratio: 1;
}

.switch button svg {
    display: flex;
    color: var(--color-icon-primary);
    transition: color .3s !important;
}

.switch button[data-selected='true'] svg {
    color: var(--color-background-primary);
}

.selected {
    position: absolute;
    height: calc(100% - 2 * var(--space-xs));
    aspect-ratio: 1;
    background: var(--color-background-accent);
    border-radius: var(--size-border-radius-full);
    z-index: 1;
    top: var(--space-xs);
    left: var(--space-xs);
    transition: translate .3s !important;
}

[data-theme='dark'] .selected {
    background: var(--color-icon-primary);
}

.selected[data-theme='dark'] {
    translate: 0 0;
}

.selected[data-theme='system'] {
    translate: calc(100% + 2 * var(--space-xs)) 0;
}

.selected[data-theme='light'] {
    translate: calc(200% + 4 * var(--space-xs)) 0;
}
