.switch {
    --padding: 3px;
    display: flex;
    border-radius: var(--border-radius-full);
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: var(--color-background-secondary);
    border: var(--size-border-m) solid var(--color-border-primary);
    box-shadow: var(--shadow);
    padding: var(--padding);
    height: var(--size-icon-2xl);
}

.switch button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    height: 100%;
    aspect-ratio: 1;
}

.switch button svg {
    display: flex;
    color: var(--color-icon-secondary-variant);
    transition: color .3s !important;
}

.switch button[data-selected='true'] svg {
    color: var(--color-background-secondary);
}

.selected {
    position: absolute;
    height: calc(100% - 2 * var(--padding));
    aspect-ratio: 1;
    background: var(--color-icon-accent);
    border-radius: var(--border-radius-full);
    z-index: 1;
    top: var(--padding);
    left: var(--padding);
    transition: translate .3s !important;
}

.selected[data-theme='dark'] {
    translate: 0 0;
}

.selected[data-theme='system'] {
    translate: 100% 0;
}

.selected[data-theme='light'] {
    translate: 200% 0;
}
