.Ukraine, .UkraineLink {
    display: block;
    flex-shrink: 0;
    box-shadow: var(--shadow);
    transition: translate .3s, box-shadow .3s;
}

.UkraineLink:hover {
    translate: 0 -4px;
    box-shadow: var(--shadow-hover);
}

.UkraineLink:active {
    translate: 0;
    box-shadow: var(--shadow-active);
    transition: translate .15s, box-shadow .15s;
}

.UkraineBlue {
    background: #095bb6;
    height: 50%;
}

.UkraineYellow {
    background: #fdd522;
    height: 50%;
}
