.Ukraine {
    --translate: 2px;
    composes: button2 from 'src/css/buttons.module.css';
    display: block;
    flex-shrink: 0;
}

.UkraineBlue {
    background: #095bb6;
    height: 50%;
}

.UkraineYellow {
    background: #fdd522;
    height: 50%;
}
