.UkraineLink {
    composes: interactiveTranslation from 'src/css/common.module.css';
}

a.UkraineLink {
    display: block;
}

.Ukraine {
    display: block;
    flex-shrink: 0;
    box-shadow: var(--shadow);
}

.UkraineBlue {
    background: #095bb6;
    height: 50%;
}

.UkraineYellow {
    background: #fdd522;
    height: 50%;
}
