.button1 {
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    border: 3px solid transparent;
    transition: .3s, translate .15s, box-shadow .15s;
    flex-shrink: 0;
}

.button1 svg {
    color: var(--color-accent-muted);
    width: 30px;
    height: 30px;
    transition: color .3s;
}

[data-theme='dark'] .button1 svg {
    color: var(--color-accent-dark);
}

.button1:hover {
    background: var(--color-accent-faint);
    border: 3px solid var(--color-accent-muted);
    box-shadow: var(--shadow);
}

.button1:active {
    translate: 0 4px;
    box-shadow: var(--shadow-active);
}

.button1:hover svg {
    color: var(--color-accent);
}

.button2 {
    box-shadow: var(--shadow);
    transition: .3s;
}

.button2:hover {
    translate: 0 calc(-1 * var(--translate));
    box-shadow: var(--shadow-hover);
}

.button2:active {
    translate: 0 var(--translate);
    box-shadow: var(--shadow-active);
    transition: .15s;
}
