.Ukraine {
    display: block;
    width: 60px;
    height: 40px;
    flex-shrink: 0;
    transition: scale .3s, translate .3s;
}

.Ukraine:hover {
    scale: 1.01;
    translate: 0 -3px;
}

.Ukraine:active {
    translate: 0 3px;
    transition: translate .15s;
}

.UkraineBlue {
    background: #095bb6;
    height: 50%;
}

.UkraineYellow {
    background: #fdd522;
    height: 50%;
}
