.allBooks {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    max-width: 1200px;
    flex: 1;
}

.header {
    text-align: center;
    align-self: center;
    font-size: var(--font-size-2xl);
    line-height: var(--font-line-height-s);
    color: var(--color-text-accent);
}
