.linkElement {
    composes: interactive-translation from 'src/css/common.module.css';
}

a.linkElement {
    align-items: center;
    padding: 0 var(--space-l);
    height: var(--size-icon-2xl);
    font-weight: bold;
    color: var(--color-text-accent);
    background: var(--color-background-secondary);
    border-radius: var(--border-radius-full);
    border: var(--size-border-m) solid var(--color-border-primary);
}

.linkElement:hover {
    text-decoration: none;
}
