*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-text-normal);
}

:root {
    --body-margin: 25px;
    --color-accent: #8771ed;
    --color-accent-muted: #cebfff;
    --color-accent-faint: #e7e0ff;
    --color-accent-dark: #4a3492;
    --color-text-normal: #363341;
    --color-text-muted: #7c7798;
}

a {
    text-decoration: none;
}
