*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-text-normal);
    background: var(--color-background);
    padding: 25px;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 380px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

main {
    flex: 1;
}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 32px;
}

small {
    font-size: 12px;
}

html {
    --color-green: #79d082;
    --color-background: white;
    --color-accent: #8771ed;
    --color-accent-muted: #cebfff;
    --color-accent-faint: #e7e0ff;
    --color-accent-dark: #4a3492;
    --color-text-normal: #363341;
    --color-text-muted: #7c7798;
    --shadow: 4px 4px 25px var(--color-accent-faint);
}

@media (prefers-color-scheme: dark) {
    img {
        opacity: 0.8;
    }

    html {
        --color-green: #94e79d;
        --color-background: #191a29;
        --color-accent: #b076ff;
        --color-accent-muted: #2b2e44;
        --color-accent-faint: #24273a;
        --color-accent-dark: #8452da;
        --color-text-normal: #c5cff5;
        --color-text-muted: #a1aacb;
        --shadow: 0 0 12px #0002;
    }
}
