.Ukraine {
    display: block;
    width: 42px;
    height: 28px;
}

.UkraineBlue {
    background: #095bb6;
    height: 50%;
}

.UkraineYellow {
    background: #fdd522;
    height: 50%;
}

.header1 {
    color: #8771ed;
}

.header2 {
    color: #363341;
}
