.Ukraine {
    display: block;
    width: 60px;
    height: 40px;
    position: fixed;
    bottom: var(--body-margin);
    right: var(--body-margin);
}

.UkraineBlue {
    background: #095bb6;
    height: 50%;
}

.UkraineYellow {
    background: #fdd522;
    height: 50%;
}

.header {
    font-size: 96px;
}

.headerPurple {
    color: var(--color-accent);
}

.modeSwitch {
    position: fixed;
    top: var(--body-margin);
    right: var(--body-margin);
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: var(--color-accent-muted);
    border-radius: 23px;
}

.innerModeSwitch {
    --margin: 4px;
    aspect-ratio: 1;
    margin: var(--margin);
    height: calc(100% - 2 * var(--margin));
    border-radius: 100%;
    background: white;
}

.license {
    display: flex;
    align-items: center;
    position: fixed;
    gap: 12px;
    bottom: var(--body-margin);
    left: var(--body-margin);
}

.licenceText {
    font-size: 12px;
    color: var(--color-text-muted);
}

.licenceText a {
    color: var(--color-accent);
}

.licenseImage {
    position: relative;
    height: 25px;
    width: 70px;
}

.bookCard {
    --padding-x: 15px;
    --padding-y: 25px;
    position: relative;
    padding: var(--padding-x) var(--padding-y);
    display: inline-block;
    width: 450px;
    height: 225px;
    background: var(--color-accent-faint);
    border: 3px solid var(--color-accent-muted);
    border-radius: 20px;
    box-shadow: 4px 4px 25px var(--color-accent-faint);
}

.bookTitle {
    color: var(--color-accent-dark);
    font-size: 48px;
}

.bookDescription {
    color: var(--color-accent);
    font-size: 18px;
}

.bookStatus {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: var(--padding-x);
    right: var(--padding-y);
}

.bookStatusText {
    font-weight: bold;
    color: var(--color-accent);
}

.bookStatusIndicator {
    background: black;
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.bookStatusIndicator[data-status="Done"] {
    background: #94e79d;
}
