.header {
    display: flex;
    justify-content: flex-end;
}

.modeSwitch {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: var(--color-accent-muted);
    border-radius: 23px;
    padding: 4px;
}

.innerModeSwitch {
    aspect-ratio: 1;
    height: 100%;
    border-radius: 100%;
    background: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 500px;
    gap: 20px;
}

.title {
    font-size: 80px;
    text-align: center;
}

.titlePurple {
    color: var(--color-accent);
}

.books {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    gap: 20px;
}

.arrow {
    color: var(--color-accent-muted);
    scale: 2;
    flex-shrink: 0;
}

.bookCard {
    --padding-x: 15px;
    --padding-y: 25px;
    position: relative;
    padding: var(--padding-x) var(--padding-y);
    display: inline-block;
    min-width: 250px;
    max-width: 400px;
    min-height: 200px;
    background: var(--color-accent-faint);
    border: 3px solid var(--color-accent-muted);
    border-radius: 20px;
    box-shadow: 4px 4px 25px var(--color-accent-faint);
}

.bookTitle {
    color: var(--color-accent-dark);
    font-size: 32px;
}

.bookDescription {
    color: var(--color-accent);
}

.bookStatus {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    position: absolute;
    top: var(--padding-x);
    right: var(--padding-y);
}

.bookStatusText {
    font-weight: bold;
    color: var(--color-accent);
}

.bookStatusIndicator {
    background: black;
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

.bookStatusIndicator[data-status="Done"] {
    background: #94e79d;
}

.dots {
    display: flex;
    gap: 5px;
    flex: 1;
    max-height: 70px;
}

.dot {
    background: var(--color-accent-muted);
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

.dot[data-selected=true] {
    background: var(--color-accent-dark);
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.license {
    display: flex;
    align-items: center;
    gap: 12px;
}

.licenceText {
    font-size: 12px;
    color: var(--color-text-muted);
}

.licenseImage {
    position: relative;
    height: 25px;
    width: 70px;
    flex-shrink: 0;
}

.Ukraine {
    display: block;
    width: 60px;
    height: 40px;
    flex-shrink: 0;
}

.UkraineBlue {
    background: #095bb6;
    height: 50%;
}

.UkraineYellow {
    background: #fdd522;
    height: 50%;
}

