.notFound {
    composes: main from 'src/css/common.module.css';
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0;
}

.notFound p {
    font-size: var(--font-size-s);
}

.notFound small {
    color: var(--color-text-secondary);
    font-size: var(--font-size-2xs);
}
