.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notFound h1 {
    color: var(--color-accent);
}

.notFound small {
    color: var(--color-text-muted);
}
