.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notFound h1 {
    color: var(--color-text-accent);
    font-size: var(--font-size-2xl);
}

.notFound p {
    font-size: var(--font-size-s);
}

.notFound small {
    color: var(--color-text-secondary);
    font-size: var(--font-size-2xs);
}
