.header {
    display: flex;
    justify-content: flex-end;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 450px;
    gap: 20px;
}

@media (max-width: 760px) {
    .main {
        max-height: unset;
    }
}

.title {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: flex-end;
}

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notFound h1 {
    color: var(--color-accent);
}

.notFound small {
    color: var(--color-text-muted);
}
