.header {
    display: flex;
    justify-content: flex-end;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 470px;
    gap: var(--space-l);
}

.title {
    text-align: center;
    font-size: var(--font-size-2xl);
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: var(--space-l);
    align-items: flex-end;
}
