.header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.home {
    max-height: 470px;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
    font-size: var(--font-size-2xl);
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: var(--space-l);
    align-items: flex-end;
}
