:root {
    --color-green: #79d082;
    --color-yellow: #efc664;
    --color-red: #f85b78;
    --color-background: white;
    --color-accent: #8771ed;
    --color-accent-muted: #cebfff;
    --color-accent-faint: #e7e0ff;
    --color-accent-dark: #4a3492;
    --color-text-normal: #363341;
    --color-text-muted: #7c7798;
    --color-text-faint: #a19ace;
    --color-text-blue: #7970af;
    --shadow: 4px 4px 25px var(--color-accent-faint);
}

[data-theme='dark'] {
    --color-green: #94e79d;
    --color-yellow: #f8d15b;
    --color-background: #191a29;
    --color-accent: #a867ff;
    --color-accent-muted: #2b2e44;
    --color-accent-faint: #24273a;
    --color-accent-dark: #8452da;
    --color-text-normal: #c5cff5;
    --color-text-muted: #a1aacb;
    --color-text-faint: #575a6b;
    --color-text-blue: #7b84bb;
    --shadow: 0 0 12px #0002;
}
