.dots {
    display: flex;
    gap: 5px;
    padding: 13px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .3s, translate .15s;
}

.dots:hover {
    background: var(--color-accent-faint);
    box-shadow: var(--shadow);
    border: 3px solid var(--color-accent-muted);
}

.dots:active {
    translate: 0 4px;
}

.dot {
    background: var(--color-accent-muted);
    width: 6px;
    height: 6px;
    border-radius: 3px;
    transition: background-color .3s;
}

.dots:hover .dot {
    background: var(--color-background);
}

.dots .dot[data-selected=true] {
    background: var(--color-accent-dark);
}
