.article {
    align-self: center;
    max-width: 720px;
}

.article h1 {
    text-align: center;
    color: var(--color-text-accent);
    font-size: var(--font-size-2xl);
    margin-bottom: var(--space-xl);
    word-break: break-word;
}

.article h2 {
    font-size: var(--font-size-l);
    margin-bottom: var(--space-l);
}

.article h3 {
    font-size: var(--font-size-m);
    margin-bottom: var(--space-l);
}

.article :is(p, ul, blockquote) {
    font-size: var(--font-size-s);
}

.article :is(p, ul, blockquote, li:has(p)) {
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
}

.article :is(h2, h3) {
    margin-top: var(--space-3xl);
}

.article ul {
    list-style: none;
    margin-left: var(--space-l);
}

.article li {
    position: relative;
    padding-left: var(--space-l);
}

.article li::before {
    content: "—";
    top: 0;
    font-weight: 500;
    left: calc(-1 * var(--space-xs));
    position: absolute;
    color: var(--color-text-tertiary);
}

.article blockquote {
    position: relative;
}

.article blockquote p {
    padding: var(--space-l) var(--space-xl) var(--space-l) var(--space-2xl);
    color: var(--color-text-secondary-variant);
}

.article blockquote::before {
    content: "";
    width: var(--size-border-l);
    position: absolute;
    top: var(--space-xs);
    left: var(--space-xs);
    height: calc(100% - 2 * var(--space-xs));
    background: var(--color-background-accent);
    border-radius: var(--border-radius-full);
}

.article hr {
    border-width: var(--size-border-m);
    border-style: solid;
    border-radius: var(--border-radius-full);
    color: var(--color-border-primary);
}
