.cardBackground {
    background: var(--color-accent-faint);
    border: 3px solid var(--color-accent-muted);
}

.card {
    --translate: 4px;
    composes: button2 from './buttons.module.css';
    composes: cardBackground;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 250px;
    max-width: 400px;
    border-radius: 20px;
    user-select: none;
}

.card:hover {
    text-decoration: none;
}

.card h1, .card h2, .card h3 {
    color: var(--color-accent-dark);
}

[data-theme='dark'] .card h1,
[data-theme='dark'] .card h2,
[data-theme='dark'] .card h3 {
    color: var(--color-accent);
}

.card p {
    color: var(--color-accent);
}

[data-theme='dark'] .card p {
    color: var(--color-text-muted);
}

.card small {
    color: var(--color-accent);
}

[data-theme='dark'] .card small {
    color: var(--color-accent-dark);
}
