.main {
    display: flex;
    width: 100%;
    gap: var(--space-l);
    flex-direction: column;
    flex: 1;
}

.title {
    text-align: center;
    color: var(--color-text-accent);
    font-size: var(--font-size-2xl);
}

.interactive-background {
    display: flex;
    background: var(--color-background-primary);
    border-radius: var(--border-radius-full);
    flex-shrink: 0;
    border: var(--size-border-m) solid var(--color-border-secondary);
    transition: color .3s, translate .3s, background .3s, border .3s, box-shadow .3s;
}

.interactive-background:hover  {
    border: var(--size-border-m) solid var(--color-border-primary);
    text-decoration: none;
    background: var(--color-background-secondary);
    box-shadow: var(--shadow);
}

.interactive-background:active {
    box-shadow: var(--shadow-active);
    translate: 0 4px;
    transition: box-shadow .15s, translate .15s;
}

.interactive-border-background {
    display: flex;
    border-radius: var(--border-radius-full);
    flex-shrink: 0;
    border: var(--size-border-m) solid transparent;
    transition: translate .3s, background .3s, border .3s, box-shadow .3s;
}

.interactive-border-background:hover {
    background: var(--color-background-secondary);
    border: var(--size-border-m) solid var(--color-border-primary);
    box-shadow: var(--shadow);
}

.interactive-border-background:active {
    box-shadow: var(--shadow-active);
    translate: 0 4px;
    transition: box-shadow .15s, translate .15s;
}

.interactive-translation {
    display: flex;
    flex-shrink: 0;
    box-shadow: var(--shadow);
    transition: translate .3s, box-shadow .3s;
}

.interactive-translation:hover {
    translate: 0 -4px;
    box-shadow: var(--shadow-hover);
}

.interactive-translation:active {
    translate: 0;
    box-shadow: var(--shadow-active);
    transition: translate .15s, box-shadow .15s;
}
