*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:focus {
    outline-color: var(--color-yellow);
}

body {
    color: var(--color-text-normal);
    background: var(--color-background);
    padding: var(--padding);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 380px;
    gap: 20px;
}

p, li {
    line-height: 1.5;
}

h1 {
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

small {
    font-size: 11px;
}

button {
    background: none;
    cursor: pointer;
    border: none;
}

[data-theme='dark'] img {
    opacity: 0.8;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 6px solid #0000;
    background-clip: padding-box;
    border-radius: 999px;
    background-color: var(--color-accent-muted);
}
