*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-lora);
    color: var(--color-text-primary);
    background: var(--color-background-primary);
    padding: var(--space-l);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-l);
}

a {
    text-decoration: none;
    color: var(--color-text-accent);
}

a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

p {
    line-height: 1.5;
}

h1, h2, h3 {
    line-height: 1.2;
}

button {
    background: none;
    cursor: pointer;
    border: none;
}

[data-theme='dark'] img {
    opacity: 0.8;
}

::-webkit-scrollbar {
    width: calc(var(--size-border-l) + 2 * var(--space-xs));
}

::-webkit-scrollbar-thumb {
    border: var(--space-xs) solid #0000;
    background-clip: padding-box;
    border-radius: var(--size-border-radius-full);
    background-color: var(--color-border-primary);
}
