:root {
    --color-feedback-done: #79d082;
    --color-feedback-in-progress: #efc664;
    --color-feedback-not-finished: #f85b78;

    --color-background-accent: #8771ed;
    --color-background-primary: #fff;
    --color-background-secondary: #e7e0ff;

    --color-text-accent: #8771ed;
    --color-text-accent-variant: #4a3492;
    --color-text-primary: #363341;
    --color-text-secondary: #7c7798;
    --color-text-secondary-variant: #7f74c5;
    --color-text-tertiary: #cebfff;

    --color-border-primary: #cebfff;
    --color-border-secondary: #e7e0ff;

    --color-icon-accent: #8771ed;
    --color-icon-accent-variant: #4a3492;
    --color-icon-secondary: #cebfff;
    --color-icon-secondary-variant: #7f74c5;

    --space-xs: 5px;
    --space-s: 10px;
    --space-m: 15px;
    --space-l: 20px;
    --space-xl: 30px;
    --space-2xl: 40px;
    --space-3xl: 60px;

    --size-border-m: 3px;
    --size-border-l: 4px;

    --size-icon-s: 10px;
    --size-icon-m: 20px;
    --size-icon-l: 30px;
    --size-icon-xl: 40px;
    --size-icon-2xl: 50px;

    --border-radius-m: 20px;
    --border-radius-full: 999px;

    --font-size-2xs: 12px;
    --font-size-xs: 16px;
    --font-size-s: 20px;
    --font-size-m: 32px;
    --font-size-l: 48px;
    --font-size-xl: 64px;
    --font-size-2xl: 80px;

    --shadow: 4px 4px 20px #e7e0ff;
    --shadow-active: 0 0 10px #e7e0ff;
    --shadow-hover: 4px 4px 30px #e7e0ff;

    --font-lora: unset;
    --font-nunito: unset;
}

[data-theme='dark'] {
    --color-feedback-done: #94e79d;
    --color-feedback-in-progress: #f8d15b;

    --color-background-accent: #a867ff;
    --color-background-primary: #191a29;
    --color-background-secondary: #24273a;

    --color-text-accent: #a867ff;
    --color-text-accent-variant: #8452da;
    --color-text-primary: #c5cff5;
    --color-text-secondary: #a1aacb;
    --color-text-secondary-variant: #8e98d5;
    --color-text-tertiary: #4a547c;

    --color-border-primary: #2b2e44;
    --color-border-secondary: #24273a;

    --color-icon-accent: #8452da;
    --color-icon-accent-variant: #a867ff;
    --color-icon-secondary: #2b2e44;
    --color-icon-secondary-variant: #8e98d5;

    --shadow: 4px 4px 15px #0002;
    --shadow-active: 0 0 6px #0001;
    --shadow-hover: 8px 8px 25px #0002;
}
