.book {
    composes: main from 'src/css/common.module.css';
}

main.book {
    max-width: 720px;
    align-items: stretch;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--size-icon-xl);
    color: var(--color-text-accent-variant);
    font-family: var(--font-nunito);
    font-weight: bold;
    font-size: var(--font-size-xs);
}

.propertyLabel {
    font-weight: normal;
    color: var(--color-text-secondary);
    margin-right: var(--space-xs);
}

.description {
    font-size: var(--font-size-s);
}

.chapters {
    display: flex;
    gap: var(--space-l);
    flex-wrap: wrap;
}

.chapter {
    composes: interactiveBackground from 'src/css/common.module.css';
}

a.chapter {
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: var(--font-size-s);
    color: var(--color-text-accent);
    flex: 1;
    padding: var(--space-m) var(--space-xl);
    min-width: max-content;
}

.chapter:hover {
    text-decoration: none;
}
